@{
    ViewBag.Title = "Акции Учебного центра English Albion - БЕСПЛАТНОЕ ОБУЧЕНИЯ АНГЛИЙСКОГО ЯЗЫКА длительностью 1 месяц";
    ViewBag.Action = "БЕСПЛАТНОЕ ОБУЧЕНИЯ АНГЛИЙСКОГО ЯЗЫКА длительностью 1 месяц";
    ViewBag.H = "Акции Учебного центра English Albion";
}

<h2>@ViewBag.H</h2>
<h2>АНГЛИЙСКИЙ ЯЗЫК:</h2>
<hr class="featurette-divider"/>
<div>

    <h1><span class="label label-success">Уже!!!</span>&nbsp;ДЕКАБРЬ - МЕСЯЦ ПОДАРКОВ</h1>
    <div class="list-group">
        <a class="list-group-item active" href="@Url.Action("Feedback", "Home")" title="Нажмите для отправления заявки!!!">«7,14,21,28» ( по субботам в 14-00) декабря состоится розыгрыш подарков к Новому году</a>
        <a class="list-group-item" href="@Url.Action("Feedback", "Home")" title="Нажмите для отправления заявки!!!"> Приходите к нам в одну из перечисленных суббот в 14-00, заполните анкету (бесплатно).</a>
        <a class="list-group-item" href="@Url.Action("Feedback", "Home")" title="Нажмите для отправления заявки!!!"> Пройдите тест (бесплатно) и получите подарок!!!!</a>
    </div>
    <div class="row">
        <div class="col-md-4 list-group">
            <a class="list-group-item active">Каждую субботу будут разыгрываться такие призы как:</a>
            <a class="list-group-item">Бесплатных уроков<span class="badge">5</span> </a>
            <a class="list-group-item">Скидки на обучение 15 %<span class="badge">5</span> </a>
            <a class="list-group-item">Скидки на обучение 10 %<span class="badge">5</span> </a>
            <a class="list-group-item">Скидки на обучение 5 %<span class="badge">10</span> </a>
        </div>
        <div class="col-md-8 jumbotron">
            <h2>А самым главным призом декабря станет @ViewBag.Action! </h2>
            <h2>Приходи в субботу. Получи подарок!</h2>
            <h3>Начать занятия можно в январе и феврале 2014 года</h3>
        </div>
    </div>


</div>
