@{
    ViewBag.Title = "Новости Информационного центра Albion - News - Nouvelles - Nachrichten - 新聞 ";
}
<style type="text/css">
    .red {
        color: #f00;
    }

    .blue {
        color: rgb(0, 0, 153);
    }

    .p18 {
        font-size: 18pt;
    }

    .p24 {
        font-size: 24pt;
    }

    .tdub {
        text-decoration: underline;
        font-weight: bold !important;
        ‎;
    }
</style>
<h2 class="red p24"><b>@ViewBag.Title</b></h2>

<div class="featurette-heading lead">
    <p><span class="badge">02/06</span></p>
    <h2 class="red tdub">Каникулы в нашем центре!!!</h2>
    <p>Школа с 1 июня на 3 месяца объявляет о каникулах, @Html.ActionLink( "запись в новые группы", "Feedback") будет после 20 августва 2014 года.

    </p>
</div>

<div class="featurette-heading lead">
    <p><span class="badge">21/01</span></p>
    <h2 class="red tdub">НОВЫЙ УЧЕБНЫЙ СЕМЕСТР!!!</h2>
    <p>Мы поздравляем Вас с новым учебным годом и рады сообщить, что языковая школа English Albion объявляет набор на изучение: @Html.ActionLink("английского", "English", "School"), @Html.ActionLink("немецкого", "German", "School"), @Html.ActionLink("французского", "French", "School"), языков в группах или индивидуально!</p>
    <h3>ВСЕ УРОВНИ!</h3>
    <p>Занятия проходят в вечернее или в дневное время!</p>
    <p>Напоминаем, что для студентов нашей школы по субботам разговорные клубы абсолютно БЕСПЛАТНО!</p>

        Поторопись узнать о @Html.ActionLink("системе СКИДОК", "Discounts", "News", null, new { @class = "btn btn-danger" })!
        ЭКОНОМЬ УЖЕ СЕЙЧАС!
        Звони и записывайся!

    </p>
</div>

<div class="featurette-heading lead">

    <p><span class="badge">22/11</span></p>
    <h2 class="red tdub">КУРС АНГЛИЙСКОГО "Я ВЫХОЖУ ЗАМУЖ"</h2>
    <div>
        <p>Специально разработанный курс изучения английского языка для упрощения общения между Вами и Вашим женихом.</p>
        <div class="text-right">
            <img src="https://googledrive.com/host/0B2nIyMekjWaIcW5xN3FPY09YSEU/weed-kiss.jpg" title="КУРС АНГЛИЙСКОГО Я ВЫХОЖУ ЗАМУЖ" alt="" class="img-thumbnail" id="wedding">
        </div>
            <h2 class="tdub">Выбрав наш курс Я ВЫХОЖУ ЗАМУЖ, Вы получаете:</h2>
            <ul>
                <li>возможность изучения английского языка "с нуля"  или любого другого уровня;</li>
                <li>максимальную проработку заданий, к которым Вам придеться подготовиться при прохождении тестирования в посольстве;</li>
                <li>знакомство с бытом, традициями и культурой страны, в которой Вы будете жить;</li>
                <li>индивидуальные занятия, что гарантирует личное внимание преподавателя;</li>
                <li>помощь в подготовке документов для заключения брака: перевод, апостиль,легализация, истребование документов в ЗАГС, профессиональные консультации.</li>
            </ul>
            <h2 class="tdub">Этот курс поможет невестам:</h2>
            <ul>
                <li>Получить начальные знания</li>
                <li>Улучшить уже имеющиеся знания языка</li>
                <li>Обрести увереность в "говорении" иностранных слов</li>
                <li>Пополнить словарный запас до необходимого минимума</li>
                <li>Подготовиться к собеседованию в посольстве</li>
            </ul>
            <div class="list-group">
                <a href="#" class="list-group-item active">Программа курса:</a>
                <a href="#" class="list-group-item">Программа специально разработана для интенсивного обучения</a>
                <a href="#" class="list-group-item">Индивидуальная форма обучения</a>
                <a href="#" class="list-group-item">Продолжительность курса – 2 месяца</a>
                <a href="#" class="list-group-item">Занятия 2 раза в неделю по 2 часа</a>
                <a href="#" class="list-group-item">Уровни обучения: Beginner, Elementary, Pre-Intermediate</a>
                <a href="#" class="list-group-item">Бесплатное тестирование</a>
                <a href="#" class="list-group-item">Бесплатное первое занятие</a>
                <a href="#" class="list-group-item">Бесплатные разговорные клубы</a>
            </div>
            <p>При необходимости мы поможем Вам оформить, перевести и апостилировать пакет документов для получения свадебной визы.</p>
        </div>
    </div>
    <div class="featurette-heading lead">
        <p><span class="badge">27/08</span></p>
        <h1 class="blue"><b>Бизнес английский — </b><span class="red"><b>«экспресс курс»</b> с носителем языка</span></h1>
        <p class="blue p24">Данный курс сочетает все необходимые элементы обучения английскому для работы в бизнес среде.</p>
        <p>(два раза в неделю) 24 ак . /часа −2 месяца обучения (Группы от 4-6 чел.)</p>
        <div class="list-group">
            <a class="list-group-item active p24">В программе обучения:</a>
            <a class="list-group-item">знакомство с партнерами;</a>
            <a class="list-group-item">правила столового этикета;</a>
            <a class="list-group-item">поездки, организация встреч;</a>
            <a class="list-group-item">основы продаж, маркетинга;</a>
            <a class="list-group-item">понимание культурных различий;</a>
            <a class="list-group-item">навыки прохождения собеседования и др.</a>
            <a class="list-group-item">прием иностранных гостей;</a>
            <a class="list-group-item">презентация компании и ее продукции;</a>
            <a class="list-group-item">продажи по интернету;</a>
            <a class="list-group-item">управление людьми;</a>
            <a class="list-group-item">планирование, маркетинг;</a>
            <a class="list-group-item">развитие собственной карьеры и многое другое.</a>
        </div>
    </div>
    @*<div class="featurette-heading lead">
            <p><span class="badge">29/08</span></p>
            <h1>Английский язык в путешествие- Вокруг Света!</h1>
            <p>(2 раза в неделю по 120 мин) — 1 месяц обучения</p>
            <p>Программа предназначена для слушателей с начальным уровнем знаний, которым необходимо приобрести навыки разговорного английского языка в туристических поездках. Изучается лексика общего английского языка, характерная для большинства ситуаций туристической поездки. Данная программа обучения имеет целевой интенсивный характер.</p>
            <p>Целью программы обучения является формирование/развитие у слушателей языковых навыков, необходимых в туристической поездке.</p>

            <div class="list-group">
                <a class="list-group-item active">Topics:</a>
                <a class="list-group-item">Packing</a>
                <a class="list-group-item">Route</a>
                <a class="list-group-item">Time-table</a>
                <a class="list-group-item">Tickets: airline, railway, boat</a>
                <a class="list-group-item">Luggage</a>
                <a class="list-group-item">Departure and arrival of train, boat, plane</a>
                <a class="list-group-item">At the station</a>
                <a class="list-group-item">Boarding the train, plane, boat</a>
                <a class="list-group-item">At the airport. The Flight</a>
                <a class="list-group-item">Renting a car</a>
                <a class="list-group-item">Hotel service and facilities: check-in and out</a>
                <a class="list-group-item">At customs</a>
                <a class="list-group-item">Camping</a>
                <a class="list-group-item">At the seaside</a>
                <a class="list-group-item">Health: at the doctor’s</a>
                <a class="list-group-item">Shopping</a>
                <a class="list-group-item">Everyday service: at the hairdresser’s, shoemaker’s laundry, mending</a>
                <a class="list-group-item">Town: asking the way</a>
                <a class="list-group-item">Telephoning</a>
                <a class="list-group-item">Money orders</a>
            </div>
        </div>
        <h2>Кроме того, у нас весело :)</h2>
        <h2>Мы ждем Вас!!!</h2>
        <h2>Хорошее настроение гарантируется :-)</h2>*@

