@{
    ViewBag.Title = "Информационный центр «Альбион»";
    ViewBag.EA = "Информационного центра English Albion";
}

<div class="row featurette">

    <div class="col-lg-4">
        <img class="img-circle" src="~/Content/images/index/english-1-1.jpg" width="200" height="200" alt="Для Вас">
        <h2>Общий курс</h2>
        <p>Стоимость общего курса для взрослых и студентов:</p>

        <p><a class="btn btn-info" href="@Url.Action("Index")#guideline">Узанть подробнее ...<span class="glyphicon glyphicon-user"></span></a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="~/Content/images/index/english-2-2.jpg" alt="Для бизнеса">
        <h2>Для Вашего бизнеса</h2>
        <p>Стоимость бизнес курса:</p>
        <p><a class="btn btn-success" href="@Url.Action("Index")#business">Понять о чем говорят твои партнеры ...<span class="glyphicon glyphicon-gbp"></span></a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="~/Content/images/index/english-3-3.jpg" width="200" height="200" alt="Для детей">
        <h2>Стоимость курса для детей</h2>
        <p></p>
        <p><a class="btn btn-warning" href="@Url.Action("Index")#children">Для Вашего ребенка!<span class="glyphicon glyphicon-heart-empty"></span></a></p>
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Новости @ViewBag.EA - News - Nouvelles - Nachrichten - 新聞</h2>
        <hr class="featurette-divider" />
        <div  >
            <h2>Акции @ViewBag.EA</h2>
            <h3>ДЕКАБРЬ - МЕСЯЦ ПОДАРКОВ</h3>
            @Html.ActionLink("Перейти на страницу с акцией", "Actions", "News", null, new { @class = "btn btn-info btn-lg", title="Перейти на страницу с акцией" })
        </div>
        <hr class="featurette-divider" />

        <div>
            <h2 class="red tdub"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;КУРС АНГЛИЙСКОГО "Я ВЫХОЖУ ЗАМУЖ"</h2>
            <div>
                <p>Специально разработанный курс изучения английского языка для упрощения общения между Вами и Вашим женихом.</p>
                <span class="glyphicon glyphicon-star-empty"></span>
                @Html.ActionLink("Хотите узнать больше?", "Index", "News", null, new { @class = "btn btn-info" })
            </div>
            <h3>Книги, журналы и другая литература на нашем сайте</h3>
            <div class="text-center">
                <span class="glyphicon glyphicon-book"></span>
                @Html.ActionLink("Читать On-line или загрузить", "Books", "Other", null, new { @class = "btn btn-success" })
            </div>
            <h3>Книги, журналы и другая литература на нашем сайте</h3>
            <div class="text-right">
                <span class="glyphicon glyphicon-film"></span>
                @Html.ActionLink("Смотреть видео On-line", "Video", "Other", null, new { @class = "btn btn-warning" })
            </div>
        </div>
        <hr class="featurette-divider">

        <p><b>Вы желаете легко и уверенно</b> разговаривать на английском<b>?</b> <b>Свободно понимать англоязычную речь?</b> Разговорный английский <b>необходим для работы? Планируете поездку за границу? Хотите с пользой и интересом использовать свое свободное время?</b></p>
        <h1 style="color: blue;">"Альбион - именно то, что Вам нужно!</h1>
        <h3 style="color: red;">Основная задача Информационного центра <span style="color: blue;">"Альбион» — успех каждого!</span> Поэтому в основе учебного процесса лежит индивидуальный подход.</h3>
        <div style="font-size: 16px;">
            <p>Мы предлагаем Вам:</p>
            <p>Обучение английского, немецкого, и других языков </p>
            <p>Дети от 4-х лет, школьники, студенты быстро и максимально эффективно достигнуть нужных результатов; -многоуровневую программу обучения</p>
            <p>индивидуальный подход в обучении </p>
            <p>умеренные цены. </p>
            <p>групповые скидки (до 6 человек)</p>
            <p>квалифицированных преподавателей</p>
            <p>доброжелательную, непринужденную обстановку </p>
            <p>и творческий характер занятий</p>
            <p>совмещение коммуникативной методики с наращиванием грамматической базы.</p>
        </div>
    </div>
    <div class="col-md-8" style="display: none;">
        <h2>@ViewBag.Title</h2>
        <p class="lead">
            Особенностями нашего центра – является изучение английского языка,  подготовка учеников 9-11 кл. независимому тестированию , а также повышаем уровень знаний для учащихся в 6-9 классах по таким предметам как  украинский язык и литература, физика, математика, английский, биология, химия, география.  Обучение в нашем центре в основном основано на коммуникативной методике, а это не что иное, как живое общение!Изучая английский язык мы основываемся на базе ведущих англоязычных учебников издательства Longman. Помимо основных занятий, все слушатели наших курсов могут бесплатно посещать видеоклуб по субботам, а так же пользоваться нашей библиотекой и видеотекой. Наши преподаватели это высококвалифицированные  специалисты с значительным опытом работы, а также носители языка. 70% времени урока проходит в коммуникативных ситуациях, ролевых играх, а также ситуативных диалогов. Наши курсы английского языка будут интересны и плодотворны для всех, независимо от уровня Ваших знаний.
        </p>
        <p class="lead">
            Подготовка к  выпускным тестам (ЗНО)- второе наше направление. Внешнее тестирование не так страшно, как о нем пишут. Главное – вовремя подготовиться и быть во всеоружии. Поэтому без промедления примите единственно правильное решение и приходите в центр «Альбион». Мы гарантируем: спокойный сон вернется к родителям, а дети порадуют результатами и высокими оценками.
        </p>
        <p class="lead">
            А летом у всех учеников есть возможность посетить летние лагеря в Великобритании, Европе, Крыму, выучит английский и хорошо отдохнуть!
        </p>
        <blockquote>
            <p class="text-info text-right">Мы ждем Вас!!! </p>
        </blockquote>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item">
                <address>
                    <strong>Киев</strong><br>
                    Спасская ул., 6А‎
                    <br>
                    (Подол)<br>
                    <abbr title="Наши телефоны">tel:</abbr>(044) 360−70−07 моб. (050) 443-55-56 (098) 904−13−81
                </address>
            </a>

        </div>
        @Html.Partial("Feedback")
    </div>
</div>
