@model EnAlbionV1._0.Models.TestPage
@{
    ViewBag.Title = "Пройти тестирование на нашем сайте";
}

<h2>@ViewBag.Title</h2>

<p>Вы выбрали тест на уровень английского языка.</p>
<p>Для того, чтобы пройти тест, Вам нужно ответить на вопросы.</p>
<p>На каждый вопрос есть только один вариант ответа.</p>
<p>За каждый правильный ответ вы получаете 1 бал. Максимальное количество баллов, которые можно получить - 24.</p>
<p>На прохождение теста дается 30 минут, после чего укажите в графе Ваше имя, электронную почту и нажмите кнопку «отправить тест».</p>
<p>В течение 24 - х часов Вам придет ответ на тест с указанием скидки на обучение в нашем центре.</p>
<p>Желаем удачи!</p>

@using (Html.BeginForm("TestPage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Имя:</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            @Html.TextBox("Name", null, new { @class = "form-control", placeholder = "Введите Ваше Имя" })
        </div>
        <label>Email:</label>
        @Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Введите email" })
        <label>Телефон:</label>
        @Html.TextBox("Phone", null, new { @class = "form-control", placeholder = "Введите номер телефона " })
        <label>Комментарии:</label>
        @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        <label>Ваш выбор:</label>
        @Html.DropDownList("WillFeed", new[] {
            new SelectListItem() {Text="Заказать обратный звонок", Value=bool.TrueString},
            new SelectListItem() {Text="Записаться на занятие", Value=bool.FalseString}
            }, "Выбрать нужное")

        <h2>Тестирование пробное.</h2>
        <h3>Впишите букву правильного варианта ответа.</h3>
        <p>1. Because the first pair of shoes did not fit properly, he asked for ... </p>
        <ul>
            <li>a. another pants</li>
            <li>b. other pants</li>
            <li>c. the other ones</li>
            <li>d. another pair</li>
        </ul>
        @Html.TextArea("Comment1", new { @class = "form-control", rows = "1" })
        <p>2. ... many computer software programs that possess excellent word-processing capabilities.</p>
        <p>a. There are b. The c. There is a lot of d. Some</p>
        @Html.TextArea("Comment2", new { @class = "form-control", rows = "1" })
        <p>3. Woodrow Wilson believed the United States' entry into World War I would ... the war in months.</p>
        <p>a. to finish b. finish c. finishing d. will have finished</p>
        @Html.TextArea("Comment3", new { @class = "form-control", rows = "1" })
        <p>4. ... of New York's Erie Canal greatly enhanced trade in the upstate region.</p>
        <p>a. The complete b. Completing c. A completing d. The completion</p>
        @Html.TextArea("Comment4", new { @class = "form-control", rows = "1" })
        <p>5. Some of the oldest and most widespread creation myths are ... involving the "Earth Mother".</p>
        <p>a. those b. them c. they d. their</p>
        @Html.TextArea("Comment5", new { @class = "form-control", rows = "1" })
        <p>6. In ... , compact disk technology has almost made record albums obsolete.</p>
        <p>a. the decade from  b. the decade since c. the past decade d. decade ago the</p>
        @Html.TextArea("Comment6", new { @class = "form-control", rows = "1" })
        <p>7. In the first few months of life, an infant learns how to lift its hands, how to smile and ... .</p>
        <p>a. how its parents to recognize b. how to recognize its parents</p>
        <p>c. to be recognizing its parents d. the recognizing of its parents</p>
        @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        <p>8. Juana Inez de la Cruz ... Mexico's greatest female poet.</p>
        <p>a. considered b. considered to be c. is considered to be d. is consideration</p>
        @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })




        9. ... what is now San Salvador, Christopher Columbus believed that he had found Japan.

a. He reached b. When did he reach c. Having reached d. Whether he reached
 @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })

        10. The principal purpose of aviation medicine is ... by people aboard an aircraft in flight.

a. to study the stress experienced b. study the experienced stress

c. to study stress experiencing d. studying the stress experience
 @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })

        Грамматическая часть

Подчеркните правильный вариант ответа.


11. The queen of Great Britain is not ... absolute monarch.

a. the b. an c. -
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })

        12. Open ... door, please.

a. the b. a c. -
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        13. Are you standing in the corridor? Come ... please.

a. in b. into c. out d. -
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        14. Who is ... duty today?

a. of b. in c. on d. for
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        15. ... what languages are you speaking?

a. at b. - c. on d. in
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        16. There is a picture ... sofa.

a. around b. in c. on d. over
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        17. Now she ... difficulty in putting fact in order.

a. is having b. has been having c. had
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        18. My brother ... music lessons for three years now.

a. have taken b. has been taking c. took
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })


        19. Perhaps in the future men ... on the sea, away from the crowded and noisy cities on land.

a. will live b. would live c. are living
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        20. There ... ten pens and a magazine on the table.

a. is b. are c. am d. was
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })

        21. Police, fire fighters, newspaper reporters and radio broadcasters ... work on holiday in the USA.

a. could b. might c. must
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })

        22. ... you ... get up early yesterday to meet the delegation at the airport?

a. Did ... have to b. Had ... to c. Have ... had to
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })

        23. We ... learn from the past.

a. may b. need c. must

         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })
        24. There are …(мало) foreign students in our Institute.

a. few b. a few c. some d. a lot of
         @Html.TextArea("Comment", new { @class = "form-control", rows = "6" })








    </div>
    <input type="submit" value="Отпарвить" class="btn" />
}







