@{
    ViewBag.Title = "English";
}
<div class="text-center">
    <img class="img-rounded" src="~/Content/images/main/top-program.jpg" />
</div>

<h1>Английский</h1>
<div class="sticker90 ui-corner-all" style="width: 1000px; margin: 0px 30px; background-color: #fff;">
    <ul class="nav nav-pills">
        <li class="active"><a href="#English">Английский</a></li>
        <li class=""><a href="@Url.Content("English_business_rates")">Бизнес курс</a></li>
        <li class=""><a href="#for_adults_and_children">Для взрослых и студентов</a></li>
        <li class="">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Для детей</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    
                    <li class=""><a href="#for_high_school">старших классов</a></li>
                    <li class=""><a href="#for_middle_school">средней школы</a></li>
                    <li class=""><a href="#for_elementary_school">младшей школы</a></li>
                    <li class=""><a href="#for_preschoolers">дошкольников</a></li>
                </ul>
            </div>
            </li>
        <li class=""><a href="#with_native">С носителями</a></li>
        

</ul>

</div>
<a id="English"></a>
<hr class="featurette-divider">
<div class="lead">
    <h2>Уровень для начинающих — Starter</h2>
    <p>Обучение английскому языку начинается с азов: изучения алфавита, структуры и правил построения предложения. Базовая грамматика состоит из элементарных форм частей речи, простых предложений. Обучение английскому языку также включает в себя минимально необходимый запас слов и понятий, позволяющий изъясняться на бытовом уровне и понимать элементарные выражения. Это специальный уровень, разработанный для тех, кто только начинает изучать английский язык. Программа включает фонетический курс, освоение правил чтения, постановка фонетической базы, освоение элементарной грамматики, разговорный курс в пределах общения на бытовые темы («Знакомство», «Семья», «Питание», «Распорядок дня», «Работа», «Досуг», «Описание помещений», «Покупки в магазине»). Словарный запас: 500−600 лексических единиц.</p>

    <h3 class="text-muted">Получаемые навыки:</h3>
    <p>По окончании этого уровня вы приобретаете элементарные навыки разговорной речи и знакомитесь с грамматикой английского языка; овладение основами грамматики, разговорной речью.</p>
    <h3 class="text-muted">Элементарный уровень — Elementary</h3>
    <p>
        Уровень «Elementary» рассчитан на слушателей, имеющих базовые представления о грамматике и разговорной практике английского языка, но не обладающих систематическими знаниями грамматики и не имеющих достаточного словарного запаса.
Программа курса рассчитана на развитие 4 видов навыков: разговорная речь, восприимчивость информации на слух, грамматика, письменная речь.
Курс включает разговорную практику по тематике повседневной жизни, постановка произношения, освоение базовой грамматики английского языка (основные времена и грамматические конструкции), интенсивное аудирование в классе и дома, и письменные упражнения в рамках домашних заданий. Словарный запас: 1000 — 1300 лексических единиц.
На этом уровне студенты читают адаптированную художественную литературу и прослушивают аудиокассеты.
    </p>
    <h3 class="text-muted">Получаемые навыки:</h3>
    <p>По окончании этого уровня Вы сможете вести разговор на общие темы, научитесь использовать основные грамматические конструкции, узнаете правила согласования времен; свободное изъяснение в англоязычных странах на общие темы.</p>
    <h3 class="text-muted">Начальный средний уровень — Pre-Intermediate</h3>
    <p>
        Уровень «Pre-Intermediate» рассчитан на слушателей, имеющих некоторый опыт практики английского языка в объеме уровня «Longman Elementary».
Уровень включает освоение продвинутой грамматики, разговорную практику по тематике повседневной жизни, умение строить связное высказывание из пятнадцати — восемнадцати предложений, интенсивное аудирование в классе и дома, и письменные упражнения в рамках домашних заданий.
Словарный запас: 1400 — 1800 лексических единиц.
По окончании этого уровня студенты могут пройти подготовку к сдаче международного Кембриджского экзамена PET (Preliminary English Test).
    </p>
    <h3 class="text-muted">Получаемые навыки:</h3>
    <p>Уровень дает хорошее понимание английской речи, умение читать адаптированную литературу на английском языке, хорошее знание грамматики; возможен культурный обмен, достаточно языковых навыков для знакомств, иммиграций, поступления в языковой ВУЗ.</p>
    <h2>Средний уровень — Intermediate</h2>
    <p>
        Уровень «Intermediate» рассчитан на слушателей, имеющих некоторый опыт практики английского языка в объеме уровня «Pre-Intermediate».
Студентам этого уровня рекомендуется чтение художественной и публицистической литературы, прослушивание аудиокассет, просмотр видеофильмов на английском языке и посещение дискуссионных клубов.
Словарный запас: 2000 — 2500 лексических единиц.
    </p>
    <h3 class="text-muted">Получаемые навыки:</h3>
    <p>По окончании этого уровня Вы сможете разговаривать на разные темы и приобретаете углубленные знания в области грамматики; возможность совершать деловые поездки, вести бизнес-переговоры, обучаться в зарубежном ВУЗе; основа для подготовки экскурсоводов.</p>
    <h2>Уровень выше среднего — Upper-Intermediate</h2>
    <p>
        Уровень «Upper-Intermediate» рассчитан на слушателей, имеющих некоторый опыт практики английского языка в объеме уровня «Intermediate».
Программа курса включает освоение продвинутой грамматики, значительно расширяется круг тем, по которым Вы можете поддерживать беседу.
Словарный запас: 3000 — 4000 лексических единиц.
По окончании этого уровня студенты могут пройти подготовку к сдаче международного Кембриджского экзамена IELTS (International English Language Testing System), FCE (First Certificate in English) и международного экзамена  TOEFL (Test of English as a Foreign Language).
    </p>
    <h3 class="text-muted">Получаемые навыки:</h3>
    <p>Уровень дает свободное владение разговорным языком в разных ситуациях, большой словарный запас, полное знание грамматики, возможность читать неадаптированную литературу на английском языке; свободное владение языком и получение специальности «Офис-менеджер для инофирмы», трудоустройство.</p>
    <h2>Продвинутый уровень — Advanced</h2>
    <p>
        Уровень «Longman Advanced» рассчитан на слушателей, имеющих некоторый опыт практики английского языка в объеме уровня «Upper-Intermediate».
По окончании этого уровня Вы сможете свободно и бегло говорить практически на любую тему.
Словарный запас 4000 — 6000 лексических единиц и более.
    </p>
    <h3 class="text-muted">Получаемые навыки:</h3>
    <p>Уровень дает свободное владение разговорным языком в разных ситуациях, большой словарный запас, полное знание грамматики, возможность читать неадаптированную литературу на английском языке; студенты могут пройти подготовку к сдаче международного экзамена TOEFL (Test of English as a Foreign Language), CAE (Certificate in Advanced English) и CPE (Certificate of Proficiency in English) и получение специальности «Деловой переводчик»; перевод любой сложности и тематики, трудоустройство. Основными задачами пятого и шестого уровней на наших курсах являются максимальная речевая готовность, легкость понимания и правильного изъяснения на английском языке. Обучение английскому языку на этом уровне направлено на интенсивное, свободное общение, эффективное усвоение и свободное использование в речи фразеологизмов, крылатых и устойчивых выражений, идиом, сленга в разговорном языке (американский и британский варианты).</p>
</div>
<a id="for_adults_and_children"></a>
<hr class="featurette-divider">
<div class="text-center">
    <img class="img-rounded" src="~/Content/images/main/top-adult.jpg" />
</div>
<div class="lead">
    <h1>Для взрослых и студентов</h1>
    <p>Наша методика заключается в том, чтобы тщательно изучить каждый аспект и запомнить его.</p>
    <p>Мы понимаем, что люди, которые приходят к нам хотят выучить язык для будущей профессии, для повышения квалификации. Поэтому с нами Вы не только выучите язык, а будите свободно владеть данным иностранным языком.</p>
    <p>Мы предлагаем в этой программе учебник New Cutting Edge (Издательство Longman),который состоит из пяти уровней.</p>
    <p>Однако, данный курс не будет состоять из одного единого учебника, наши профессиональные учителя используют многие дополнительные обучающие материалы других издательств.</p>

    <div class="list-group">
        <a class="list-group-item active">При успешном обучении Вы можете передвигаться по уровням быстрее.</a>
        <a class="list-group-item">бесплатные услуги репетиторов (при пропуске занятий)</a>
        <a class="list-group-item">бесплатные учебники на цифровых носителях</a>
        <a class="list-group-item">бесплатный пробный урок, бесплатное тестирование,собеседование, бесплатный грамматический клуб</a>
    </div>
    <p>Мы не возмещаем средства, оплаченные за курс обучения. В том числе, в случае пропусков занятия, болезни или других непредвиденных обстоятельствах.</p>
    <p>Государственные праздничные дни считаются выходными и не переносятся.</p>
    <a href="@Url.Action("Index", "Home")#guideline" class="btn btn-default">Стоимость курса </a>
</div>


<a id="Children"></a>
<hr class="featurette-divider">
<h1>Для детей</h1>
@*<div class="sticker150 ui-corner-all text-center" style="width: 1000px; margin: 0px 30px; background-color: #fff;">
    <ul class="nav nav-pills">
        <li class="active"><a href="#for_high_school">старших классов</a></li>
        <li class=""><a href="#for_middle_school">средней школы</a></li>
        <li class=""><a href="#for_elementary_school">младшей школы</a></li>
        <li class=""><a href="#for_preschoolers">дошкольников</a></li>
    </ul>
</div>*@

<a id="for_high_school"></a>
<hr class="featurette-divider" />
<div class="text-center">
    <img class="img-rounded" src="~/Content/images/main/top-training.jpg" />
</div>

<div class="featurette-heading lead">
    <h1>Для старших классов</h1>
    <p>Для старшеклассников мы будем активно использовать самые современные компьютерные тренажеры, обучающие программы, игры, аудирование, и видеосопровождение.</p>
    <p>Новое издание популярного учебника английского Opportunities создано на основе откликов учеников и преподавателей, у которых есть опыт работы с предыдущим изданием. Разработчики учли все замечания и создали действительно уникальный учебник, отвечающий требованиям сегодняшнего дня!</p>
    <p>Вы сможете также быстрее передвигаться по уровням в зависимости от Ваших знаний и не обязательно находиться на уровне Pre- intermediate, а перейти через некоторое время на более высокий при этом не дожидаясь окончания лекций по данному уровню.</p>
    <p>Однако, данный курс не будет состоять из одного единого учебника, наши профессиональные учителя используют многие дополнительные обучающие материалы других издательств. </p>
    <a href="@Url.Action("Index", "Home")#children" class="btn btn-info">Стоимость курса </a>
</div>
<a id="for_middle_school"></a>
<hr class="featurette-divider" />

<div class="featurette-heading lead">
    <h1>Для детей средней школы</h1>
    <p>Мотивация и вызов — эти две вещи могут заинтересовать подростков во время учебного процесса.</p>
    <p>Новый учебник английского языка Сhallenges соответствует желаниям подростков и облегчает работу учителя, поскольку содержит материал, который не оставит детей равнодушными.</p>
    <h3 class="text-muted">Курс предназначен для детей 11−15 лет.</h3>
    <p>Мы будем также уделять внимание диалогам, которые вводят новую лексику, ключевым выражениям, постоянной отработке коммуникативных умений.</p>
    <p><a href="@Url.Action("Index", "Home")#children">Стоимость курса </a>для детей  средней и старшей школы <a href="@Url.Action("IntTraining", "Service")#VNO">и подготовка к ЗНО</a></p>
</div>
<a id="for_elementary_school"></a>
<hr class="featurette-divider" />
<div class="text-center">
    <img class="img-rounded" src="~/Content/images/main/top-kids.jpg" />
</div>
<div class="featurette-heading lead">
    <h1>Для детей младшей школы</h1>
    <p>Для детей 6−9 лет мы предлагаем программу «Экселлент» (Excellent- в пер. с англ. великолепно)</p>
    <div class="list-group">
        <a class="list-group-item active">Эта программа состоит из 4 учебно-методических комплектов разного уровня:</a>
        <a class="list-group-item">Excellent Beginner</a>
        <a class="list-group-item">Excellent 1</a>
        <a class="list-group-item">Excellent 2</a>
        <a class="list-group-item">Excellent 3</a>
    </div>
    <p>
        Детские уроки кардинально отличаются от взрослых. Мы прекрасно понимаем, что на первых порах сложно привлечь детей к выполнению задания.
Внимание их быстро переключается, они устают, отвлекаются. Поэтому обычный академический стиль работы, к которому все мы привыкли в школе, здесь не сработает.
Именно поэтому многие школьники не любят учить иностранные языки. Грамматика им кажется скучной, уроки неинтересными, а знания абсолютно ненужными.
    </p>
    <p>Задача нашего центра не только научить Вашего ребенка говорить на иностранном языке.</p>
    <p>Мы также прививаем интерес к обучению, даем знания о культуре и традициях других стран.</p>
    <p>Процесс этот, конечно, нелегкий, но очень увлекательный!</p>
    <a href="@Url.Action("Index", "Home")#children" class="btn btn-warning">Стоимость курса для детей с 7 до 10 лет</a>
</div>
<a id="for_preschoolers"></a>
<hr class="featurette-divider" />
<div class="featurette-heading lead">
    <h1>Для дошкольников</h1>
    <p>В нашем центре Ваш ребёнок может начать своё обучение уже с 4-х лет. Ведь именно в этом возрасте дети наиболее быстро и легко усваивают всё новое и интересное, тем более, если обучение проходит в игровой форме.</p>
    <p>Специально для самых маленьких студентов предлагается курс Small Stars, рассчитанный на один академический год.</p>
    <p>При прохождении курса дети разучивают большое количество традиционных английских песен, стихов, облегчающих восприятие специфического ритма присущего языку, играют в игры на английском языке.</p>
    <p>Обучаясь по этой программе, малыши обогащают свой словарный запас, проходят основы английской грамматики.</p>
    <p>Наша программа для детей, в первую очередь, нацелена на развитие навыков слушания и говорения через имитацию и игру, что делает изучение английского языка веселым и забавным.</p>
    <p>Слушание развивается через рассказы, видео зарисовки и мультфильмы. В свою очередь, песни, стихи, считалки и рифмовки позволяют изучать произношение и ритм английского языка и запоминать важные фразы в «реальном» языковом контексте. Поэтому дети могут уверенно понимать и использовать язык до того, как они научатся читать и писать.</p>
    <p>К концу учебного года они уже могут общаться на английском языке на элементарном уровне, задавать вопросы и отвечать на них, рассказать о себе и своей семье, о животных, о своих любимых игрушках и любимой еде, описывать погоду и времена года. По окончании курса дети будут знать множество песен, стихов, считалок и игр на английском языке.</p>
    <div class="list-group">
        <a class="list-group-item active">Посещая курсы английского детям, маленькие слушатели:</a>
        <a class="list-group-item">Полюбят английский язык.</a>
        <a class="list-group-item">Будут  говорить по-английски, впитав правильное произношение.</a>
        <a class="list-group-item">Еще раз продемонстрируют родителям свои исключительные способности.</a>
    </div>
    <a href="@Url.Action("Index", "Home")#children" class="btn btn-success">Стоимость курса для детей с 4 до 6 лет&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>

@*<a id="business_rates"></a>
<hr class="featurette-divider" />
<div class="featurette-heading lead">
    <h1>Бизнес курс</h1>
    <p>В бизнесе не бывает мелочей: пусть вы вполне сносно владеете английским, но даже одно малознакомое слово, неожиданно возникшее, например, в деловой переписке, может стать причиной проблем в переговорах с вашим партнером.</p>
    <p>Курс английского делового языка разработан для тех, кому требуется усовершенствовать свои знания, овладеть специализированной лексикой, познакомиться с правилами делового общения, ведения переговоров, составления документов.</p>
    <p>Наличие таких навыков может стать серьезным плюсом в вашей карьере и способствовать успешному ведению бизнеса. Даже если вы изрядно подзабыли язык со студенческих времен или еще не окончили учебу, но уже в ближайшей перспективе предполагаете активное общение с англоязычными партнерами — не беда.</p>
    <div class="list-group">
        <a class="list-group-item active">Какие цели Вы сможете достичь с нами?</a>
        <a class="list-group-item">в самые короткие сроки приобрести основные навыки общения на деловом английском</a>
        <a class="list-group-item">научиться вести деловые переговоры, составлять контракты, презентации, вести деловую переписку</a>
        <a class="list-group-item">совершать телефонные звонки на английском языке</a>
        <a class="list-group-item">составлять отчеты</a>
        <a class="list-group-item">готовить доклады и многое другое.</a>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Обучение деловому английскому языку проводится для всех слушателей начиная с начального уровня.</h1>
        </div>
        <div class="panel-body">
            <h2>Общий курс обучения состоит из 5 уровней:</h2>
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>начальный — 3,5 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>ранний средний — 3,5 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>средний — 3,5 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>выше среднего — 4 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>продвинутый — 4 месяца</li>
            </ul>
        </div>
    </div>
    <p>Мы используем современные технологии обучения с применением учебных пособий Longman, доказавших свою высокую эффективность. Предлагаемая нами коммуникативная методика позволяет эффективно развивать разговорную речь в различных ситуациях делового общения.</p>
    <h3 class="text-muted">Мы предлагаем:</h3>
    <p>Фундаментальное изучение бизнес английского</p>
    <p>Экспресс курс бизнес английского ( в течении трех месяцев — включает в себя только все необходимые аспекты делового английского)</p>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">А также:</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для бухгалтеров и финансистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для HR специалистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для юристов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для логистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для представителей гостиничного и туристического бизнеса</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для IT специалистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>Для офис — менеджеров и секретарей</li>
            </ul>
        </div>
    </div>
</div>*@
<a id="with_native"></a>
<hr class="featurette-divider" />
<div class="float-left">
    <img class="ui-corner-all"  src="~/Content/images/main/easier-to-speak-with-native-english-speakers.jpg" />
</div>
<div class="featurette-heading lead">
    <h1>Английский с носителем</h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Курсы английского с квалифицированным преподавателем — носителем английского языка.</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">-Такой преподаватель английского языка — естественное и эффективное решение.</li>
                <li class="list-group-item">-Носитель английского  языка может стать для Вас  идеальным вариантом обучения.</li>
                <li class="list-group-item">-Носитель английского языка дает полное погружение в язык и культуру своей страны.</li>
                <li class="list-group-item">-На уроках английского языка с носителем в полной мере реализуется суть коммуникативной методики — восприятие языка не через призму родного языка, т.е. через перевод каждого предложения с русского на английский и наоборот, но через аутентичные коммуникативные ситуации, когда хочешь не хочешь — заговоришь.</li>
                <li class="list-group-item">-С носителем все грани языка осваиваются сбалансировано, без перекосов в ту или иную сторону.</li>
            </ul>
        </div>
    </div>
    <p>Результат? Вы умеете общаться и выражать свои мысли на другом языке в любой ситуации!</p>
    <p>Все желающие могут записаться на разговорный английский с носителем языка: @Html.ActionLink("360−70−07", "Feedback", "Home", null, new { @class = "btn btn-primary", title = "Записаться на занятие" }) </p>
</div>
