@model EnAlbionV1._0.Models.ResponseItem

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    *@
<div>     
<h2> @Model.question</h2>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.question)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.question)
        </div>*@
         <div class="editor-label">
            @Html.Partial("EditorTemplates/EditT", new KeyValuePair<string, IEnumerable<KeyValuePair<char, string>>>(Model.question.Trim(), Model.Answers))
        </div>

 </div>          

