<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сайт учебного центра EnglishAlbion">
    <meta name="author" content="Vadym Makarenko">
    <meta name="keywords" content="Курсы английского языка, английский на Подоле, английский для начинающих, школа английского языка в Киеве, курсы иностранных языков в Киеве, иностранные языки на Подоле, английский обучение, английский разговорный, английский киев, разговорный английский киев, курсы немецкого, немецкий на Подоле, английский для детей, уровни английского, английский для школьников, скидка английский, грамматика английского языка, обучение английского языка, язык с нуля, английский для самых маленьких, английский акции, английский для дошкольников, китайский на подоле, обучение китайского, Китайский на Подоле" />
    <meta name="google-site-verification" content="4CtLp8JU-chbtcSWx1l9K-CjVWFV-1i3CtHRNula3n8" />
    <meta name="google-site-verification" content="Vz3oHDY75CXqPjfOE8XcIqFdtT5iPXX4C9oJKNpQZWI" />
    <meta name='yandex-verification' content='6e23d3b060a11a83' />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/ico/favicon.png")">

    <title>Мы переехали с englishalbion.kiev.ua @ViewBag.Title - English Albion - Информационный центр</title>
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/docs.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/shareVK.js" charset="windows-1251"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <script src="~/Content/bootstrap/js/html5shiv.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/respond.min.js" type="text/javascript"></script>


    <!-- Custom styles for this template -->
    <link href="~/Content/bootstrap/carousel.css" rel="stylesheet">
    <link href="~/Content/MainStyle.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
</head>
<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Главная", "About", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Стоимость", "Index", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Услуги <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Наша методика", "OurMethods", "Service")</li>
                                    <li>@Html.ActionLink("Из чего состоят занатия", "OurClasses", "Service")</li>
                                    <li>@Html.ActionLink("Фото", "Photo", "Service")</li>
                                    @*<li class="divider"></li>
                                    <li class="dropdown-header" title="Групповые занятия">Групповые занятия</li>
                                    <li><a href="/group/adult.html" title="Для взрослых">Для взрослых</a></li>
                                    <li><a href="/group/teens.html" title="Для детей">Для детей</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header" title="Индивидуальные занятия">Индивидуальные занятия</li>
                                    <li><a href="/individual/adult.html" class="first" title="Для взрослых"><span>Для взрослых</span></a></li>
                                    <li><a href="/individual/teens.html" class="last" title="Для детей"><span>Для детей</span></a></li>*@
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Корпоративное обучение", "Training", "Service")</li>
                                    <li>@Html.ActionLink("Летний интенсив", "SummerIntensive", "Service")</li>
                                    <li>@Html.ActionLink("Подготовка к ВНО, ВУЗ, TOEFL", "IntTraining", "Service")</li>
                                    @*<li><a href="/club.html" class="last" title="Разговорный клуб"><span>Разговорный клуб</span></a></li>*@

                                </ul>
                            </li>
                            <li>@Html.ActionLink("Новости", "Index", "News")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Языки<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Английский", "English", "School")</li>
                                    <li>@Html.ActionLink("Немецкий", "German", "School")</li>

                                    <li>@Html.ActionLink("Китайский", "Chinese", "School")</li>
                                    <li>@Html.ActionLink("Французский", "French", "School")</li>
                                    @* <li class="divider"></li>
                                    <li class="dropdown-header">Для клиентов</li>
                                    <li><a href="#">Корпоративное обучение</a></li>
                                    <li><a href="#">Скидки</a></li>
                                    <li><a href="#">ЗНО</a></li>*@
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Это интересно<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Почитать...</li>
                                    <li>@Html.ActionLink("Статьи", "Article", "Other")</li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Для самообразования</li>
                                    <li>@Html.ActionLink("Книги", "Books", "Other")</li>
                                    <li>@Html.ActionLink("Видео - для обучения", "Video", "Other")</li>
                                    <li>@Html.ActionLink("Аудио курсы", "Audio", "Other")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Пройти тестирование", "TestPage", "School")</li>
                            <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                            <li>@Html.ActionLink("Вакансии", "Vacancy", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->


        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/images/carousel/02.jpg" />
                <div class="container">
                    @Html.Partial("Carousel/carousel_div_container")
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/albion.jpg" style="height: 295px !important; margin-top: 115px !important" />
                <div class="container">
                    <div class="carousel-caption" style="color: #000 !important; text-align: left; font-size: 20pt;">
                        <address>
                            <strong>Киев</strong>
                            <br />
                            ул. Спасская, 6А‎
                            <br />
                            (Подол)
                            <br />
                            <abbr title="Наш городской телефон"><span class="glyphicon glyphicon-phone-alt" style="font-size: 10pt;"></span>tel:</abbr>
                            (044) 360−70−07 
                            <br />
                            <abbr title="Наши мобильные телефоны"><span class="glyphicon glyphicon-earphone" style="font-size: 10pt;"></span>mob:</abbr>
                            (050) 443-55-56<br />
                            (098) 904−13−81
                        </address>
                        <p>@Html.ActionLink("Записаться на занятие", "Feedback", "Home", null, new { @class = "btn btn-lg btn-primary" })</p>


                    </div>
                </div>

            </div>
            <div class="item">
                <img src="~/Content/images/carousel/01.jpg" />
                <div class="container">
                    @Html.Partial("Carousel/carousel_div_container")
                </div>

            </div>

            <div class="item">
                <img src="~/Content/images/carousel/03.jpg" />
                <div class="container">
                    @Html.Partial("Carousel/carousel_div_container")
                </div>
            </div>
            @*<div class="item">
                <img src="~/Content/images/carousel/03.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>*@
            <div class="item">
                <img src="~/Content/images/main/top-club.jpg" />
                <div class="container">
                    @Html.Partial("Carousel/carousel_div_container")
                </div>
            </div>
            <div class="item">
                <img src="~/Content/images/main/top-diploma.jpg" />
                <div class="container">
                    @Html.Partial("Carousel/carousel_div_container")
                </div>
            </div>



        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        @RenderBody()
        <!-- /.container -->



        <!-- FOOTER -->
        <footer>
            <p class="pull-right floating text-center">
                <a id="btop" href="#" class="btn btn-inverse">Вверх</a> 
                <br /> <br /> 
            <script type="text/javascript">
                document.write(VK.Share.button(false,{type: "", text: "Поделиться ссылкой c ВКонтакте"}));
            </script>
            </p>
            <p style="font-family: 'Pathway Gothic One', sans-serif;">&copy;  Содан комапнией <a href="https://plus.google.com/100082264739809883836?rel=author" target="_blank">ArtMakarenko</a> в 2013. Созан на <a href="http://www.asp.net/get-started" class="btn btn-info btn-xs">ASP.Net MVC 4.0</a></p>
            <!-- Yandex.Metrika informer -->
            <a href="http://metrika.yandex.ru/stat/?id=22235176&amp;from=informer"
                target="_blank" rel="nofollow">
                <img src="//bs.yandex.ru/informer/22235176/2_0_FFFFFFFF_FFFFFFFF_0_pageviews"
                    style="width: 80px; height: 31px; border: 0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:22235176,lang:'ru'});return false}catch(e){}" /></a>
            <!-- /Yandex.Metrika informer -->

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function () {
                        try {
                            w.yaCounter22235176 = new Ya.Metrika({
                                id: 22235176,
                                webvisor: true,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true
                            });
                        } catch (e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                <div>
                    <img src="//mc.yandex.ru/watch/22235176" style="position: absolute; left: -9999px;" alt="" />
                </div>
            </noscript>
            <!-- /Yandex.Metrika counter -->
            <a href="https://www.facebook.com/profile.php?id=100002274157194" target="_blank" title="Мы на facebook">
                <img src="~/Content/images/social/Facebook_logo_(square).png" width="40" height="40" /></a>
            <a href="http://vk.com/id117943839" target="_blank" title="Найти нас ВКонтакте">
                <img src="~/Content/images/social/VKontakte.svg.png" height="40" /></a>
        </footer>

    </div>
    <script src="~/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Content/js/TextIllate/jquery.fittext.js" type="text/javascript"></script>
    <script src="~/Content/js/TextIllate/jquery.lettering.js" type="text/javascript"></script>
    <script src="~/Content/js/TextIllate/jquery.textillate.js" type="text/javascript"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*    <script src="~/Content/bootstrap/js/jquery.js" type="text/javascript"></script>*@
    <script src="~/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/holder.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/Content/js/gmaps.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.sticky.js" type="text/javascript"></script>



    <script type="text/javascript">
        $(function () {
            $(".sticker90").sticky({ topSpacing: 90, center: true });
            $(".sticker150").sticky({ topSpacing: 150, center: true });
            $(".acc").accordion();
            
            $(document).tooltip({
                position: {
                    my: "center bottom-20",
                    at: "center bottom",
                    using: function (position, feedback) {
                        $(this).css(position);
                        $("<div>")
                        .addClass("arrow")
                        .addClass(feedback.vertical)
                        .addClass(feedback.horizontal)
                        .appendTo(this);
                    }
                }
            });
            $("input:checkbox").click(function () {
                if ($(this).is(":checked")) {
                    //var group = "input:checkbox[name='" + $(this).attr("name") + "']";
                    var group = "input:checkbox[data-group='" + $(this).attr("data-group") + "']";

                    $(group).prop("checked", false);
                    $(this).prop("checked", true);
                } else {
                    $(this).prop("checked", false);
                }
            });
            //GoogleMap on contacts
            var map = new GMaps({
                div: '#map',
                lat: 50.46520,
                lng: 30.51621,
                zoom: 17
            });

            map.addMarker({
                lat: 50.46611,
                lng: 30.51816,
                title: 'Мы тут',
                infoWindow: {
                    content: '<h2>Как нас найти</h2><address><strong>Киев</strong><br>ул. Спасская, 6А, оф. 3‎<br>(Подол)<br><abbr title="Наши телефоны">tel:</abbr>(044) 360−70−07 моб. (050) 443-55-56 (098) 904−13−81</address><address><strong>e-mail:</strong><br><a href="mailto:info@englishalbion.com.ua">info@englishalbion.com.ua</a></address>'
                }
            });



        });
        $(window).scroll(function () {
            var top = $(document).scrollTop();
            if (top > 350) $('.floating').addClass('fixed ui-corner-all');
                //200 - это значение высоты прокрутки страницы для добавления класс
            else $('.floating').removeClass('fixed ui-corner-all');

        });


    </script>

</body>
</html>
